@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #aeaeae;
  --foreground: #252525;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #aeaeae;
    --foreground: #252525;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
